<!DOCTYPE html>

{% load static %}
{% load widget_tweaks %}

<html lang="pt-br">
    <head>
        {% include 'includes/head.html' %}
    </head>

    <body class="bg-gradient-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                    
                                    <div class="col-lg-6 d-flex justify-content-center align-items-center">
                                        <img src="/static/img/fake_logo.jpg" class="img-fluid" alt="Logo">
                                    </div>


                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-left mb-5">
                                            <h1 class="h4 text-gray-900 mb-1">Até a próxima!</h1>

                                            <p>Você escolheu sair da dashboard, mas se preferir fazer login novamente, basta clicar no botão abaixo para voltar à página de login</p>
                                        </div>

                                        <a href="{% url 'login' %}" class="btn btn-primary btn-user btn-block">
                                            <span class="text">Voltar para login</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'includes/javascript.html' %}
    </body>
</html>